h3 {

	padding :20px;
	color : turquoise;
	
}

body{
	background-color: darkslategrey;
	color : ghostwhite;
	padding: 10px;
}

.highlight {
	color: yellow;
	font-family: ;
}

.images{
	height: auto;
	width: 200px;
	
}
table{
	width : 100%;
	text-align: left;
}
th{
	color: yellow;
	padding: 20px 0px;
}