
h1,h2,h3,h4,h5,h6{
	color: #A4A400;
	background-color: #F0F0F0 ;
	font-family:  Lucida Sans Unicode, helvetica, Arial, sans-serif ;
	font-size: 18pt;
	text-decoration: underline;
}

#main-heading{
	text-align: center;
	font-size: 22pt;
	font-weight: bold;

}

body{
	/*background: #404040;*/
	font-size: 11pt;
	font-family: Georgia; Garamond, serif ;

}
a:hover{
	color: #A4A400 ;
}

 the underlined words "tbsp" and "tsp" are abbreviations for "tablespoons" and "teaspoon" 
respectively. When the user hovers the mouse over these abbreviations, the full word should appear as a tooltip.

here is a short copyright notice that appears as a section of pre-formatted text in a 
monospace font. 
