h3 {

	color : turquoise;

	
}

body{
	background-color: darkslategrey;
	color : ghostwhite;
	padding: 0px 50px;
}
/*@media screen and (max-width :1166px){
	body{padding: 50px 0px;}
}
@media screen and (max-width :767px){
	body{padding: 40px 0px;}
}
@media screen and (max-width :480px){
	body{padding: 20px 0px;}
}*/

.highlight {
	color: yellow;
	font-family: ;
}

.images{
	height: auto;
	width: 200px;
	
}
table {
	width : 40%;
	text-align: left;
	border: 1px solid black;
	border-color: ghostwhite;
}
td{ padding: 10px;}

th{
	color: yellow;
	padding: 20px ;
	background-color: darkgreen;
	padding-left: 10px ;
}

a{
	color: ghostwhite ;
	text-decoration: none;
}
a:hover {
	color: yellow;
	text-decoration: underline;

}

p.intro::first-letter{
	font-size: 25px;
}

ul { transform: rotate(180deg); }
ul > li {
	transform: rotate(-180deg);
}
.decremete{
	margin: 20px;
}